NODE_ENV=development # production
PORT=5000

TENANCY_TYPE=single # multi || single

# ___) this is for development
SINGLE_DB_URL=DB_URL
MULTI_DB_URL=DB_URL
CENTRAL_DB_URL=DB_URL

# ___) this is for production
SINGLE_PRODUCTION_DB_URL=DB_URL
MULTI_PRODUCTION_DB_URL=DB_URL
CENTRAL_PRODUCTION_DB_URL=DB_URL

BCRYPT_SALT_ROUNDS=13

DEFAULT_PASSWORD=al-amin90

# ___) this is for jwt
JWT_ACCESS_TOKEN=screct
JWT_REFRESH_TOKEN=screct
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=30d

# ___) this is for single tanent 
SINGLE_ADMIN_EMAIL=credintial
SINGLE_ADMIN_PASSWORD=credintial

SUPER_ADMIN_EMAIL=credintial
SUPER_ADMIN_PASSWORD=credintial

# ___) this is for db connection pool config
MAX_TENANT_CONNECTIONS=100
MAX_CONNECTION_IDLE_TIME=300000
CLEANUP_INTERVAL=60000
CONNECTION_TIMEOUT=10000
